apiVersion: v1
kind: Service
metadata:
  name: demo-chat
  labels:
    app: demo-chat
spec:
  type: ClusterIP
  ports:
    - port: 8080
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app: demo-chat
