apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

resources:
  - deployment.yaml
  - service.yaml
  - pvc.yaml

secretGenerator:
  - name: minio-secret
    literals:
      - MINIO_ROOT_USER=minioadmin
      - MINIO_ROOT_PASSWORD=CHANGEME

patches:
  - path: patch-memory-service.yaml
    target:
      kind: Deployment
      name: memory-service
