apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

resources:
  - deployment.yaml
  - service.yaml
  - pvc.yaml

configMapGenerator:
  - name: prometheus-config
    files:
      - prometheus.yml

patches:
  - path: patch-memory-service.yaml
    target:
      kind: Deployment
      name: memory-service
