apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

resources:
  - deployment.yaml
  - service.yaml
  - pvc.yaml

configMapGenerator:
  - name: prometheus-config
    files:
      - prometheus.yml
  - name: memory-service-config
    behavior: merge
    literals:
      - MEMORY_SERVICE_PROMETHEUS_URL=http://prometheus:9090
