apiVersion: apps/v1
kind: Deployment
metadata:
  name: memory-service
spec:
  template:
    spec:
      containers:
        - name: memory-service
          env:
            - name: MEMORY_SERVICE_PROMETHEUS_URL
              value: "http://prometheus:9090"
