apiVersion: v1
kind: Service
metadata:
  name: memory-service
  labels:
    app: memory-service
spec:
  type: ClusterIP
  ports:
    - port: 8080
      targetPort: http
      protocol: TCP
      name: http
    - port: 8085
      targetPort: management
      protocol: TCP
      name: management
  selector:
    app: memory-service
