apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgresql
spec:
  template:
    spec:
      containers:
        - name: postgresql
          image: pgvector/pgvector:pg18
          volumeMounts:
            - name: data
              mountPath: /var/lib/postgresql
