apiVersion: apps/v1
kind: Deployment
metadata:
  name: memory-service
spec:
  template:
    spec:
      containers:
        - name: memory-service
          env:
            - name: MEMORY_SERVICE_VECTOR_TYPE
              value: "mongodb"
