apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

resources:
  - deployment.yaml
  - service.yaml
  - pvc.yaml

configMapGenerator:
  - name: memory-service-config
    behavior: merge
    literals:
      - MEMORY_SERVICE_DB_KIND=postgres
      - MEMORY_SERVICE_DB_MIGRATE_AT_START=true

secretGenerator:
  - name: postgresql-secret
    literals:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=memory_service
  - name: memory-service-secret
    behavior: merge
    literals:
      - MEMORY_SERVICE_DB_URL=postgresql://postgres:postgres@postgresql:5432/memory_service
