apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

resources:
  - deployment.yaml
  - service.yaml
  - pvc.yaml

secretGenerator:
  - name: grafana-secret
    literals:
      - GF_SECURITY_ADMIN_PASSWORD=admin
