apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

resources:
  - deployment.yaml
  - service.yaml
  - pvc.yaml

configMapGenerator:
  - name: memory-service-config
    behavior: merge
    literals:
      - MEMORY_SERVICE_DB_KIND=mongo
      - MEMORY_SERVICE_DB_MIGRATE_AT_START=true

secretGenerator:
  - name: mongodb-secret
    literals:
      - MONGO_INITDB_ROOT_USERNAME=mongo
      - MONGO_INITDB_ROOT_PASSWORD=mongo
      - MONGO_INITDB_DATABASE=memory_service
      - keyfile=bW9uZ29kYnJlcGxpY2FzZXRrZXljaGFuZ2VtZWlucHJvZHVjdGlvbgo=
  - name: memory-service-secret
    behavior: merge
    literals:
      - MEMORY_SERVICE_DB_URL=mongodb://mongo:mongo@mongodb:27017/memory_service?authSource=admin
