apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

resources:
  - deployment.yaml
  - service.yaml
  - pvc.yaml

secretGenerator:
  - name: mongodb-secret
    literals:
      - MONGO_INITDB_ROOT_USERNAME=mongo
      - MONGO_INITDB_ROOT_PASSWORD=CHANGEME
      - MONGO_INITDB_DATABASE=memory_service

patches:
  - path: patch-memory-service.yaml
    target:
      kind: Deployment
      name: memory-service
