apiVersion: v1
kind: Service
metadata:
  name: qdrant
  labels:
    app: qdrant
spec:
  type: ClusterIP
  ports:
    - port: 6333
      targetPort: http
      protocol: TCP
      name: http
    - port: 6334
      targetPort: grpc
      protocol: TCP
      name: grpc
  selector:
    app: qdrant
